@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  background-color: #F2E9E4;
}

.lora {
  font-family: 'Lora', serif;
}

.lugra {
  font-family: 'Lugrasimo', cursive;
}

.red-hat {
  font-family: 'Red Hat Display', sans-serif;
}

.app {
  height: 100vh;
  /* Ensure the app takes the full viewport height */
  overflow-y: scroll;
  /* Enable vertical scrolling within the app */
  scroll-snap-type: y mandatory;
  /* Snap to each section when scrolling */
}

.section {
  height: 100vh;
  /* Each section takes the full viewport height */
  scroll-snap-align: start;
  /* Snap the start of each section to the top of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* Additional styles for individual sections */
.section1 {
  background-color: #f0f0f0;
}

.section2 {
  background-color: #e0e0e0;
}

.section3 {
  background-color: #d0d0d0;
}